<template>
  <div class="cards-wrap">
    <div class="cards-wrap__inner">
      <CardComp />
    </div>
    <button class="cards-wrap__submit-btn" type="submit" @click="previewItem">Buy cheapest</button>

  <v-dialog v-model="dialog" persistent>
    <v-card>
      <CardModal :productData="viewItem" @closeForm="dialog = false"/>
    </v-card>
  </v-dialog>
  </div>
</template>

<script>
// @ is an alias to /src
import CardComp from '@/components/CardComp.vue'
import CardModal from '@/components/CardModal.vue'

export default {
  name: 'CardsWrap',
  data() {
    return {
      dialog: false,
      viewItem: null
    }
  },
  methods: {
    previewItem() {
      this.dialog = true
      this.viewItem = this.$store.state.list.sort((a, b) => a.price - b.price)[0]
    }
  },
  components: {
    CardComp,
    CardModal
  }
}
</script>

<style lang="scss">
.cards-wrap {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
  background: #E5E5E5;
  color: #000000;

  &__inner {
    margin-bottom: 80px;
  }

  &__submit-btn {
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #ffffff;
    background: #4BCFA0;
  }

  
}

  
</style>

