<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) in list" :key="index">
        <div class="card-comp">
          <p class="card-comp__name">{{item.name}}</p>
          <div class="card-comp__title">{{ item.category}}</div>
          <div class="card-comp__nav">
            <div class="card-comp__price-block">
              <span class="currency">$</span>  
              <span class="price">{{ item.price }}</span>
            </div>
            <button class="card-comp__submit-btn" type="submit" @click="previewItem(item)">Buy</button>
          </div>
        </div>
      </v-col>
    </v-row>
    
    <v-dialog v-model="dialog" persistent>
      <v-card>
        <CardModal :productData="viewItem" @closeForm="dialog = false" />
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'
import CardModal from '@/components/CardModal.vue'

export default {
  name: 'CardComp',
  components: {
    CardModal
  },
  data() {
    return {
      dialog: false,
      viewItem: null
    }
  },
  computed: {
    ...mapState(['list'])
  },
  created() {
    this.getCardData()
  },
  methods: {
    async getCardData() {
      this.$store.dispatch('loadProducts')
    },
    previewItem (item) {
      this.dialog = true
      this.viewItem = item
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.container{
  max-width: 1140px;
  margin: 0 auto;
}

.col {
  min-width: 350px;
  margin: 0 auto 40px;
}

.card-comp {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 32px 32px;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 24px 24px 40px rgba(75, 207, 160, 0.08);
  
  &__name {
    margin-bottom: 8px;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: .5;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 40px;
    letter-spacing: -0.02em;
    text-transform: lowercase;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__price-block {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    letter-spacing: -0.02em;

    .currency {
      padding-top: 6%;
      margin-right: 4px;
      font-size: 30px;
    }

    .price {
      font-size: 60px;
    }
  }

  &__submit-btn {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 500;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #4BCFA0;

    &:hover {
      background: #4BCFA0;
      color: #ffffff;
    }
  }
}
</style>
