<template>
    <div class="form-wrapper">
        <button @click.stop="closeForm" type="button" class="card-modal__closebtn"></button>
        <div class="form-inner">
            <v-form class="from-group" @submit.prevent="formAction" ref="formGroup">
                <p class="card-modal__name">{{ productData.name }}</p>
                <div class="card-modal__title">{{ productData.category}}</div>
                <div class="card-modal__price-block">
                <span class="currency">$</span>  
                <span class="price">{{ productData.price }}</span>
                </div>
                <div class="field">
                    <v-text-field 
                        v-model="name"
                        label="Name"
                        :rules="[rules.required, rules.onlyLetters]"
                        outlined
                        color="#4BCFA0"
                    ></v-text-field>
                </div>
                <div class="field">
                    <v-text-field 
                        v-model="number"
                        label="Number"
                        :rules="[rules.required, rules.onlyNumbers, rules.fixedLength]"
                        outlined
                        :counter="12"
                        color="#4BCFA0"
                    ></v-text-field>
                </div>
                <button
                    class="card-modal__submit-btn" 
                    type="submit"
                >
                    <span>Order</span>
                    <arrowRight />
                </button>
            </v-form>
        </div>
        
    </div>

</template>

<script>
import arrowRight from '@/components/icons/arrowRight.vue'

const NAME_REGEX = /^[a-zA-Z]+$/
const NUMBERS_REGEX = /^[0-9]+$/

export default {
    name: 'CardModal',
    props: ["productData"],
    data() {
        return {
            name: '',
            number: '',
            rules: {
                required: value => value !== '' || 'This field in required',
                onlyLetters: value => NAME_REGEX.test(value) || 'Only letters allowed',
                onlyNumbers: value => NUMBERS_REGEX.test(value) || 'Only numbers allowed',
                fixedLength: value => value && value.length <= 12 || 'Should contain 12 characters',
            }
        }
    },
    methods: {
        formAction() {
            if (!this.$refs.formGroup.validate()) return

            console.table({
                productName: this.productData.name,
                productType: this.productData.category,
                productPrice: this.productData.price,
                userName: this.name,
                userPhone: this.number
            })
        },
        closeForm() {
            this.name = ''
            this.number = ''
            this.$refs.formGroup.resetValidation()
            this.$emit('closeForm')
        }
    },
    components: {
        arrowRight
    }
}
</script>

<style lang="scss">
.v-dialog {
    max-width: 384px;
    border-radius: 24px !important;
    overflow: unset !important;
    
    .v-card {
        border-radius: 24px !important;
    }
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;

    .form-inner {
        overflow: auto;
        max-height: 90vh;
        width: 100%;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .from-group {
        width: 100%;
        padding: 12%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .field {
            width: 100%;
            margin: 0 0 20px;

            .error {
                padding-left: 15px;
                font-size: 12px;
                color: #E43F3F;
                letter-spacing: -0.02em;
                background-color: transparent !important;
            }
        }

        .v-input__slot{
            fieldset {
                border: 1px solid #4BCFA0;
                border-radius: 16px;
            }
        }
    }
}

.card-modal {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 32px 32px;
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 24px 24px 40px rgba(75, 207, 160, 0.08);
  
    &__name {
        margin-bottom: 8px;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        opacity: .5;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 40px;
        letter-spacing: -0.02em;
        text-transform: lowercase;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__price-block {
        display: flex;
        flex-flow: row nowrap;
        align-content: flex-start;
        letter-spacing: -0.02em;
        margin-bottom: 20px;

        .currency {
            padding-top: 3%;
            margin-right: 4px;
            font-size: 30px;
        }

        .price {
            font-size: 60px;
        }
    }

    &__closebtn {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #F2F2F2;
        cursor: pointer;
        
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 17px;
            width: 2px;
            background: #000000;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg)
        }

       
    }

    &__submit-btn {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        background: rgba(75, 207, 160, 1);

        &:not(:disabled):hover {
            svg {
                opacity: 1;
                transform: translateX(0);
            }
        }

        &:disabled {
            cursor: default;
            opacity: .5;
        }

        span {
            font-weight: 500;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #ffffff;
        }

        svg {
            opacity: 0;
            transform: translateX(20px);
            transition: opacity ease .3s, transform ease .3s;
            margin-left: 10px;
        }
    }
}


    
</style>