<template>
  <v-app>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  font-weight: 400;
  
}

button {
  font-family: 'Roboto', sans-serif;
  display: block;
  padding: 16px 16px;
  background: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  text-align: center;
  transition: all .3s ease;
}

a {
  text-decoration: none;
  cursor: pointer;
}

</style>
